.deployment-instance {
  width: 15px;
  height: 15px;
  margin: 1px;
  border: 1px solid;
  border-radius: $border-radius-small;
  position: relative;

  &-succeeded {
    background-color: $green-600;
    border-color: $green-800;

    &:hover {
      background-color: $green-800;
      border-color: $green-950;
    }
  }

  &-running {
    background-color: $green-300;
    border-color: $green-600;

    &:hover {
      background-color: $green-500;
      border-color: $green-800;
    }
  }

  &-failed {
    background-color: $red-600;
    border-color: $red-800;

    &::before {
      content: '';
      border: 1px solid $white-light;
      background: $white-light;
      transform: rotate(45deg);
      position: absolute;
      border-radius: 1px;
      top: -2px;
      bottom: -2px;
    }

    &:hover {
      background-color: $red-800;
      border-color: $red-950;
    }
  }

  &-pending {
    background-color: $gray-300;
    border-color: $gray-700;

    &:hover {
      background-color: $gray-500;
      border-color: $gray-900;
    }
  }

  &-unknown {
    background-color: $white-light;
    border-color: $gray-700;

    &:hover {
      background-color: $white-light;
      border-color: $gray-900;
    }
  }

  &.deployment-instance-canary {
    &::after {
      width: 7px;
      height: 7px;
      border: 1px solid $white-light;
      background-color: $orange-300;
      border-radius: 50%;
      content: '';
      z-index: 1;
    }
  }
}
